<h1>Template Syntax</h1>

<h2>Interpolation Directive</h2>
<p>Text: {{'Inhalt'}}</p>
<p>Text + Pipe: {{'Inhalt' | uppercase}}</p>
<p>Expression: {{23 + 23 | number:'2.2-2':'de-DE'}}</p>
<p>Expression: {{23 + 23 | currency:'EUR':'symbol':'2.2-2':'de-DE'}}</p>

<h2>Structural Directives</h2>
<p *ngIf="flag===1">Lorem ipsum dolor sit amet.</p>
<ul *ngFor="let item of [3,4,5]">
  <li>{{item}}</li>
</ul>

<h2>Event Directives</h2>
<p><button class="btn btn-info" (click)="flag = 2">Click</button></p>
<p><button class="btn btn-info" (click)="changeFlag(1)">Click</button></p>

<h2>Attribute Directives</h2>
<p [class.alert]="flag === 1" [class.alert-info]="flag===1">Test</p>
